/*Global style */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background: url(../images/Cute_Clouds_Pattern_on_Blue_Background_generated.jpg) no-repeat center center;
    background-color: white;
    height: 100%;
    color: #445361;
    font-family: Shadows Into Light Two, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 8rem;
    padding: 5px;
}

.fa-baby {
    font-size: 100px;
    height: auto;
    width: auto;
    padding: 5px 20px;

}

/* Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 85%;
    height: 65vh;
    max-height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/*Buttons */

.answer-btn {
    width: 220px;
    height: 60px;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.submit-btn {
    /* padding-top: 10px; */
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 5rem;
    height: 3rem;
    margin: 0 30px;
    transition: all 0.5s;
}

/*Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
  
    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .question-area {
        padding: 10px 0;
    }

}