/*Global style */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white: #edf6f9;
    --green: #006d77;
    --peach: #ffddd2;
    --correct: #83c5be;
    --incorrect: #e29578;
}


body {
    background: url(../images/Cute_Clouds_Pattern_on_Blue_Background_generated.jpg) no-repeat center center;
    background-color: var(--white);
    font-family: Shadows Into Light Two, sans-serif;
    height: 100%;
    color: var(--green);
    text-align: center;
    overflow-x: hidden;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Heading */

.heading {
    font-family: Amatic SC, sans-serif;
    text-align: center;
    font-size: 8rem;
    padding: 5px;
}

/* .fa-baby {
    font-size: 90px;
    height: auto;
    width: auto;
    padding: 5px 20px;
} */

.logo {
    height: 8rem;
    width: auto;
    padding: 5px 20px;
}

/* Game layout */

.game-area {
    background-color: var(--peach);
    border-radius: 10px;
    width: 85vw;
    height: 70vh;
    max-height: auto;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 3rem;
    margin: auto;
    padding: 50px 0;
}

.answer-area {
    display: grid;
    grid-column: 2;
    grid-gap: 10px;
}

.question-area span {
    padding: 0 15px;
}

.submit-answer {
    padding: 20px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score {
    color: var(--correct);
    font-weight: bold;
}

#incorrect {
    color: var(--incorrect);
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/*Buttons */

.answer-btn {
    background-color: var(--green);
    color: var(--white);
    width: auto;
    height: 60px;
    border: 1px var(--white) solid;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: inherit;
    letter-spacing: 1.2px;
}

.answer-btn:focus {
    outline: none;
}

.submit-btn {
    /* padding-top: 10px; */
    background-color: var(--white);
    color: var(--green);
    font-family: inherit;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    position: relative;
    margin: 0 30px;
    transition: all 0.5s;
}

/*Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
  
    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .question-area {
        padding: 10px 0;
    }

}